body{
    font-family: 'Luckiest Guy', cursive;
    background-color: rgb(131, 177, 230);
    height: 95vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: bisque;
    height: 62vh;
    width: 50vh;
}
.display_container{
    background-color: rgb(146, 180, 170);
    height: 10vh;
    margin: 0.7vh;
    padding-right: 2vh;
    text-align: right;
}
.secondary_display{
    height: 3vh;
    font-size: 3vh;
}
.Display{
    font-size: 6vh;
}
.number_input{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}
button{
    font-family: 'Saira', sans-serif;
    font-size: 30px;
    border: none;
}
.button,.decimal,.equal{
    height: 10vh;
    width: 11.8vh;
}
.clear,.backspace{
    height: 8vh;
    width: 24.3vh;
}